@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

main {
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

header h1 {
  padding-right: 35px;
}

.inputC {
  display: flex;
}

input {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}

button {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

button i {
  font-size: 40px;
}

.content {
  margin-top: 10px;
  justify-content: space-between;
  word-break: break-word;
}

img {
  min-width: 120px;
  background-image: radial-gradient(#b5b5b5, #f7f7f7 70%);
}

